.main {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-direction: column;
  background: #E7E2E2;
  height: 100vh;
  margin: 0 auto; }
  .main .jumbotron {
    padding: 0;
    margin: 0;
    background: #77142B; }
    .main .jumbotron .carousel-inner #img1, .main .jumbotron .carousel-inner #img2, .main .jumbotron .carousel-inner #img3, .main .jumbotron .carousel-inner #img4 {
      min-height: 560px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center; }
    .main .jumbotron .carousel-inner #img1 {
      background-image: url("img/pic1.jpg");
      background-image: url("img/pic1.jpg");
      background-position: center 32%; }
    .main .jumbotron .carousel-inner #img2 {
      background-image: url("img/diverse-university.jpg");
      background-image: url("img/diverse-university.jpg");
      background-position: center 30%; }
    .main .jumbotron .carousel-inner #img3 {
      background-image: url("img/16_9/TSUPWalk.jpg");
      background-image: url("img/16_9/TSUPWalk.jpg");
      background-position: center 32%; }
    .main .jumbotron .carousel-inner #img4 {
      background-image: url("img/nursing_home.jpg");
      background-image: url("img/nursing_home.jpg");
      background-position: center 55%; }
    .main .jumbotron .carousel-caption h2 {
      color: #E7E2E2; }
  .main .title {
    color: #E7E2E2; }
  .main .-columns {
    display: flex;
    height: 100%;
    width: 100%;
    background: #E7E2E2;
    color: #520114;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; }
    .main .-columns div {
      margin: auto 5px;
      padding: 0 3em;
      height: 95%;
      width: 33.33%; }
      .main .-columns div #logo, .main .-columns div #lab {
        float: none;
        margin: auto; }
      .main .-columns div #logo {
        height: 200px;
        width: 200px; }
      .main .-columns div #lab {
        height: 200px; }
  .main .container#popup {
    width: 100%;
    background: #E7E2E2;
    padding-bottom: 10%; }
    .main .container#popup button#modal-call {
      white-space: normal;
      background: #77142B;
      color: #E7E2E2;
      padding: 20px;
      border: 2.5px solid #520114;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s; }
      .main .container#popup button#modal-call:hover {
        border: 2.5px solid #77142B;
        background: #E7E2E2;
        background: #E7E2E2;
        color: #77142B; }
  .main .modal-content {
    background: #77142B;
    color: #E7E2E2; }
  .main .modal-header button {
    color: #E7E2E2; }
  .main .container#form {
    background: #77142B;
    color: #E7E2E2;
    font-size: 2.5em;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    .main .container#form h1 {
      font-size: 1.5em;
      -webkit-box-ordinal-group: 0;
      -moz-box-ordinal-group: 0;
      box-ordinal-group: 0;
      -webkit-order: 0;
      -moz-order: 0;
      order: 0;
      -ms-flex-order: 0; }
    .main .container#form form {
      width: auto;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
      .main .container#form form div, .main .container#form form button {
        margin: 0.25em auto; }
      .main .container#form form button {
        border-color: #520114;
        color: #77142B; }
        .main .container#form form button:hover {
          background-color: #77142B;
          color: #E7E2E2;
          border-color: #E7E2E2; }
  .main .container#survey {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }

/*# sourceMappingURL=main.css.map */
